<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excercise 2</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <!-- <div class="data">
        <li v-for="index in data">
            <h3>{{ data.title }}</h3>
            <p>{{ data.content }}</p>
        </li>

        <button v-on:click="toggleShowData">
            <span v-if="showData">Hide Data</span>
            <span v-else>Show Data</span>
        </button>

       <br>
       <div class="box" v-on:mouseover="handleEvent">mouseover (enter)</div>
       <div class="box" v-on:mouseleave="handleEvent">mouseleave</div>
       <div class="box" v-on:dblclick="handleEvent">double click</div>
       <div class="box" v-on:mousemove="handleMouseMove">position - {{ x }} {{ y }} -->
    <!-- </div> -->

<!-- mobile accordion -->
<section class="accordion__container">
    <button class="accordion__button" id="openByDefault">Section 1</button>
    <div class="accordion__content">
        <p>Lorem ipsum...</p>
    </div>

    <button class="accordion__button">Section 2</button>
    <div class="accordion__content">
        <p>Lorem ipsum...</p>
    </div>

    <button class="accordion__button">Section 3</button>
    <div class="accordion__content">
        <p>Lorem ipsum...</p>
    </div>
</section>

<!-- desktop tab -->
<section class="tab__container">
    <div class="tab__button-background">
        <button class="tab__button tab__links" onclick="openCity(event, 'London')">London</button>
        <button class="tab__button tab__links" onclick="openCity(event, 'Paris')">Paris</button>
        <button class="tab__button tab__links" onclick="openCity(event, 'Tokyo')">Tokyo</button>
    </div>

    <div id="London" class="tab__content">
        <h3>London</h3>
        <p>London is the capital city of England.</p>
    </div>

    <div id="Paris" class="tab__content">
        <h3>Paris</h3>
        <p>Paris is the capital of France.</p>
    </div>

    <div id="Tokyo" class="tab__content">
        <h3>Tokyo</h3>
        <p>Tokyo is the capital of Japan.</p>
    </div>
</section>

    <script src="app.js"></script>
</body>
</html>