<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excercise 2</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <!-- <div class="tabs__test">
        <div v-if="showData">
            <ul>
                <li v-for="index in data">
                    <h3>{{ index.title }}</h3>
                    <p>{{ index.content }}</p>
                </li>
            </ul>
        </div>

        <button v-on:click="toggleShowData">
            <span v-if="showData">Hide Data</span>
            <span v-else>Show Data</span>
        </button>

       <br>
       <div class="box" v-on:mouseover="handleEvent">mouseover (enter)</div>
       <div class="box" v-on:mouseleave="handleEvent">mouseleave</div>
       <div class="box" v-on:dblclick="handleEvent">double click</div>
       <div class="box" v-on:mousemove="handleMouseMove">position - {{ x }} {{ y }}

    </div> -->
<section class="accordion__container">
    <button class="accordion__button">Section 1</button>
    <div class="accordion__content">
        <p>Lorem ipsum...</p>
    </div>

    <button class="accordion__button">Section 2</button>
    <div class="accordion__content">
        <p>Lorem ipsum...</p>
    </div>

    <button class="accordion__button">Section 3</button>
    <div class="accordion__content">
        <p>Lorem ipsum...</p>
    </div>
</section>

    <script src="app.js"></script>
</body>
</html>