/*------------------
****Accordion CSS***
------------------*/

.accordion__button {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .accordion_button:hover, .active {
    background-color: #ccc;
  }

  .accordion__content {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .accordion__content.show {
    display: block;
  }

/*------------------
*******Tab CSS******
------------------*/

.tab__container {
  display: none;
}

.tab__background {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab__background .tab__links {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab__background .tab__links:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab__background .tab__links.active {
  background-color: #ccc;
}

/* Style the tab content */
.tab__content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/*------------------
***Media Queries***
------------------*/

@media (min-width: 769px) {
    .accordion__container {
        display: none;
    }

    .tab__container {
        display: block;
    }
}